<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarCodeScannerDemo">

        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BarCodeScannerDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.AddVauxView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.EditVauxView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.AddPalletView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.AddPlateauView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.EditPalletView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.EditPlateauView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.PalletView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.PlateausView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.TotalNumberOfVauxesView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.TotalVauxesForLocationView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name=".views.VauxView"
            android:exported="false"
            android:theme="@style/Theme.BarCodeScannerDemo">
        </activity>

        <activity
            android:name="com.example.barcodescannerdemo.MyCaptureActivity"
            android:stateNotNeeded="true"/>
    </application>

</manifest>